[submodule "Tiger\\vendor\\spdlog"]
	path = Tiger\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tiger/vendor/spdlog"]
	path = Tiger/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tiger/vendor/GLFW"]
	path = Tiger/vendor/GLFW
	url = https://github.com/JavaLich/glfw.git
